@model PGSBoard.ViewModels.CreateBoardViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <title>CreateBoard</title>
</head>
<body>
    <!--FORMA-->
<div class="container card--white">
    @using (Html.BeginForm("CreateBoard","Board", FormMethod.Post))
    {
        <div class="row">
            <h3 class="col-md-12">Dodaj nową tablicę:</h3>
        </div>
        <div class="row">
            <div class="col-md-12 form-group">
                @Html.LabelFor(m => m.CreateBoardFormDto.Name)
                @Html.TextBoxFor(m => m.CreateBoardFormDto.Name, 
               new {@class = "form-control"})
               @Html.ValidationMessageFor(m => m.CreateBoardFormDto.Name)
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 form-group">
               @Html.LabelFor(m => m.CreateBoardFormDto.Description)
                @Html.TextAreaFor(m => m.CreateBoardFormDto.Description,
               new { @class = "form-control" })
               @Html.ValidationMessageFor(m => m.CreateBoardFormDto.Description)
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <input type="submit" class="btn btn-primary" value="Dodaj!" />
            </div>
        </div>
    }
</div>
    <!--FORMA-->
</body>
</html>
